body {
  font-family: 'helvetica neue', cooper black, sans-serif;
  font-weight: 300;
  background-image: url(355444.jpg);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}

h1 {
  color: red;
}
h4 {
  color: purple;
}
#summary {
  color: green;
}
.skills-and-hobbies {
  color: orange;
}
